<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="~/NewFolder/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/NewFolder/assets/vendors/aos/dist/aos.css/aos.css" />

    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="~/NewFolder/assets/css/style.css" rel="stylesheet" />
    <!-- endinject -->
</head>
<body>
    <div class="container-scroller">
        <div class="main-panel">
            <!-- partial:partials/_navbar.html -->
            <header id="header" dir="rtl">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="navbar-top">
                            <div class="d-flex justify-content-between align-items-center">
                                <ul class="navbar-top-left-menu">
                                    <li class="nav-item">
                                        <a href="pages/index-inner.html" class="nav-link">تبلیغات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pages/aboutus.html" class="nav-link">درباره</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">تماس با ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">آرشیو</a>
                                    </li>

                                </ul>
                                <ul class="navbar-top-right-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"><i class="mdi mdi-magnify"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">ورود</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">ثبت نام</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="navbar-bottom">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="navbar-brand" href="#">
                                        <img src="assets/images/logo.svg" alt="" />
                                    </a>
                                </div>
                                <div>
                                    <button class="navbar-toggler"
                                            type="button"
                                            data-target="#navbarSupportedContent"
                                            aria-controls="navbarSupportedContent"
                                            aria-expanded="false"
                                            aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="navbar-collapse justify-content-center collapse"
                                         id="navbarSupportedContent">
                                        <ul class="navbar-nav d-lg-flex justify-content-between align-items-center">
                                            <li>
                                                <button class="navbar-close">
                                                    <i class="mdi mdi-close"></i>
                                                </button>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link" href="index.html">خانه</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/magazine.html">برگزیده ها</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/business.html">اقتصادی</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/sports.html">ورزشی</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/art.html">فرهنگی</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/politics.html">بین المل</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/travel.html">فناوری</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="pages/contactus.html">حوادث</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="social-media">
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="content-wrapper">
                <div class="container">
                    <div class="row" data-aos="fade-up">
                        <div class="col-xl-8 stretch-card grid-margin">
                            <div class="position-relative">
                                <img src="~/NewFolder/assets/images/dashboard/3.jpg"
                                     alt="banner"
                                     class="img-fluid" style="opacity:0.7;" />
                                <div class="banner-content">
                                    <div class="badge badge-danger fs-12 font-weight-bold mb-3">
                                        اخبار ایران
                                    </div>
                                    <h1 class="mb-0" style="color:black">همه گیری کرونا</h1>
                                    <h1 class="mb-2" style="color:black">
                                        افزایش ۴ برابری مراجعان سرپایی کرونا/ توضیحات رئیس بخش عفونی بیمارستان مسیح دانشوری
                                    </h1>
                                    <div class="fs-12">
                                        <span class="mr-2">Photo </span>10 Minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 stretch-card grid-margin">
                            <div class="card bg-dark text-white">
                                <div class="card-body">
                                    <h2>جدیدترین اخبار</h2>

                                    <div class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between">
                                        <div class="pr-3">
                                            <h5>از بین بردن سلول‌های سرطانی با کمک کرم‌های بسیار کوچک/ کشف جدید دانشمندان ژاپنی</h5>
                                            <div class="fs-12">
                                                <span class="mr-2"> </span>10 Minutes ago
                                            </div>
                                        </div>
                                        <div class="rotate-img">
                                           
                                        </div>
                                    </div>

                                    <div class="d-flex border-bottom-blue pb-4 pt-4 align-items-center justify-content-between">
                                        <div class="pr-3">
                                            <h5>پیروزی پرگل تانهام مقابل ستارگان لیگ کره‌جنوبی</h5>
                                            <div class="fs-12">
                                                <span class="mr-2"> </span>10 Minutes ago
                                            </div>
                                        </div>
                                        <div class="rotate-img">
                                            
                                        </div>
                                    </div>

                                    <div class="d-flex pt-4 align-items-center justify-content-between">
                                        <div class="pr-3">
                                            <h5>رونق گردشگری یزد با تکیه بر جشن‌های مذهبی و ملی</h5>
                                            <div class="fs-12">
                                                <span class="mr-2"> </span>10 Minutes ago
                                            </div>
                                        </div>
                                        <div class="rotate-img">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container">

                        @RenderBody()





                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- inject:js -->
    <script src="~/NewFolder/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="~/NewFolder/assets/vendors/aos/dist/aos.js/aos.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="~/NewFolder/assets/js/demo.js"></script>
    <script src="~/NewFolder/assets/js/jquery.easeScroll.js"></script>
    <!-- End custom js for this page-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
