@model MyProject.Areas.Admin.Models.Author

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_UserLayout.cshtml";
}
<div class="Panel-Header">
    ویرایش
</div>
<div class="Panel-Body">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Degree" class="control-label"></label>
                    <input asp-for="Degree" class="form-control" />
                    <span asp-validation-for="Degree" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adreess" class="control-label"></label>
                    <input asp-for="Adreess" class="form-control" />
                    <span asp-validation-for="Adreess" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ثبت" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    </div>
    <div>
        <a asp-action="Index"class="btn btn-info">بازگشت</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
