
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}







<a href="../News/Index" class="btn btn-warning">ثبت خبر </a>
<a href="../Categories/Index" class="btn btn-danger">ثبت دسته بندی  </a>
<a href="../Authors/Index" class="btn btn-success">ثبت نویسنده </a>
